
/* Your CSS Code here. */
table {
        border: 2px solid black;
        border-collapse: collapse;
        width: 80%;
        margin: 30px auto;
        text-align: center;
        font-family: Arial, sans-serif;
      }
th, tr,td{
	border: solid black
}
.blackcell{
	background-color: black;
	color: white;
    font-weight: bold;
	}